<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launch2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP_VACACIONES"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".login.bv.RBDActivity"
            android:exported="false" />
        <activity
            android:name=".login.bv.HBDActivity"
            android:exported="false" />
        <activity
            android:name=".login.bv.BvActivity"
            android:exported="false" />
        <activity
            android:name=".login.sv.SEOActivity"
            android:exported="false" />
        <activity
            android:name=".login.cp.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".login.cp.MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.sv.SVOActivity"
            android:exported="false" />
        <activity
            android:name=".login.bv.bg.BlockGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".login.menu.MenuBVActivity"
            android:exported="false" />
        <activity
            android:name=".login.avhistory.AVHistoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".login.avhistory.AvHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".login.av.AVDetails"
            android:exported="false" />
        <activity
            android:name=".login.av.AVActivity"
            android:exported="false" />
        <activity
            android:name=".login.hv.HVDetails"
            android:exported="false" />
        <activity
            android:name=".login.hv.HVActivity"
            android:exported="false" />
        <activity
            android:name=".login.sv.RSVActivity"
            android:exported="false" />
        <activity
            android:name=".login.sv.SEActivity"
            android:exported="false" />
        <activity
            android:name=".login.menu.MenuSVActivity"
            android:exported="false" />
        <activity
            android:name=".login.sv.SVActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.cv.CVActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.menu.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>